@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
body{
      padding: 0 !important;
      margin: 0;
      box-sizing: border-box;
      
      width: 100%;
      overflow-x: hidden !important;
    }
      
    nav{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: left;
      font-size: 20px;
      border-bottom: 1px solid #e5e5e5;

    }
   /* nav button{
      display: none;
    }*/
    nav .logo{
      width: 40%;
      height: 30%;
      text-align: center;
      margin-top: 20px;

    }
    nav .menu{
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
    
    nav .menu ul li{
      list-style: none;
      float: right;
      padding: 10px;
      margin: 0 20px;
    }
    nav .menu ul:nth-child(2) li{
      position: relative;
      top: 3px;
      left: 140px;
      color: green;
    }
    nav .menu ul li a{
      margin-top:3rem;
      font-size: 1rem;
      text-decoration: none;
      color: green;
    }
    nav .menu ul li a:hover{
      color: #00ffff;
    }
    nav form{
      position: absolute;
      width: 40%;
      right: 25%;
      top: 65px;
    }
    nav form input{
      width: 90%;
      position: relative;
      top: -45px;
      padding: 10px 0px;
      border: none;
      outline: none;
      transform: scaleX(0);
      transform-origin: right;
      transition: .5s;
      border-bottom: 1px solid #e5e5e5;

    }
    nav form input::placeholder{
      font-size: 20px;

    }
    /*js-css*/
    nav form input.expand{
      transform: scaleX(1);
      padding: 10px;
    }
    nav form input.expand ~ .fa-search{
      visibility: hidden;
    }
    nav form input.expand ~ .fa-times{
      display: block;
    }
    nav form .fa{
      position: absolute;
      top: -40px;
      right: 60px;
      cursor: pointer;
      color: black;
    }
      .fa-times{
       
      position: absolute;
      display: none;
    }
    
    @media(max-width: 768px) {
      nav button{
        display: block;
        width: 30px;
        height: 25px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        border: none;
        outline: none;
        background: #757575;
      }
      nav button:before,
      nav button:after{
        position: absolute;
        content: '';
        background: white;
        width: 30px;
        height: 5px;
        top: 5px;
        left: 0;
        transition: 0.5s;
      }
      nav button:after{
        top: 15px;
      }
      nav button.expand-icon{
        background: transparent;
      }
      nav button.expand-icon:before,
      nav button.expand-icon:after{
        transform: rotate(45deg);
        background: #757575;
        top: 10px;
      }
      nav button.expand-icon:after{
        transform:  rotate(-45deg);
      }

      nav .logo{
        font-size: 17px;
        left:   22%;
      }
      nav .menu{
        position: absolute;
        width: 100%;
        height: 0;
        background: white;
        top: 80px;
        transition: 0.5s;
        overflow: hidden;
      }
      nav .menu.expand-mobile{
        height: 700px;
      }
      nav .menu ul li{
        padding-right: 1rem;
        float: right;
        width: 90%;
        text-align: left;
      }
      nav form{
        left: 30%;
        width: 65%;
      }
      nav .menu ul:nth-child(2) li{
        top: 0;
        left: 0;
      }
      h4,p{
        padding: 0;
        margin: 0;
        font-size: initial;
      }
      
    }
  

/*home section*/
.home .home-slider .item1{
    position: relative;
    padding-top: 0.5rem;
    }

.home .home-slider .item1 img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item1 .content{
    position: absolute;
    top:50%; left: 5%;
    transform: translateY(-50%);
}

/*.home .home-slider .item .content h3{
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}*/

.home .home-slider .item1 .content h3{
    padding-top:1rem;
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 3rem;
    width:70%;
    text-transform: uppercase;
}
.home .home-slider .item1 .content p{
    color:#fff;
    font-size: 1.7rem;
    padding:1rem 0;
    width: 50rem;
}
.home .home-slider .item1 .content .btn{
   width:30%;
   font-size: 1.6rem;
  padding: 2% 5%;
  color: white;
   background-color: #657008;
}
.home .home-slider .item1 .content .btn:hover{
    background-color: #fff;
    color:  #657008;
    }


    .home .home-slider .item2{
    position: relative;
    padding-top: 0.5rem;

}

.home .home-slider .item2 img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item2 .content{
     float: right;
    position: absolute;
    top:50%; left:5%;
    transform: translateY(-50%);
}

/*.home .home-slider .item .content h3{
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}*/

.home .home-slider .item2 .content h3{
    
    
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 3.5rem;
    width:70%;
    text-transform: uppercase;
}
.home .home-slider .item2 .content p{
    
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
    width: 50rem;
}
.home .home-slider .item2 .content .btn{
    
  width:30%;
  font-size: 1.6rem;
  padding: 2% 5%;
  color: white;
   background-color: #657008;
}
.home .home-slider .item2 .content .btn:hover{
    background-color: #fff;
    color:  #657008;
    }


    .home .home-slider .item3{
    position: relative;
    padding-top: 0.5rem;

}

.home .home-slider .item3 img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item3 .content{
    position: absolute;
    top:50%; left: 70%;
    transform: translateY(-50%);
}

/*.home .home-slider .item .content h3{
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}*/

.home .home-slider .item3 .content h3{
    padding-top:1rem;
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 3rem;
    width:70%;
    text-transform: uppercase;
}
.home .home-slider .item3 .content p{
    color:#fff;
    font-size: 2.3rem;
    padding:2rem 0;
    width: 50rem;
}
.home .home-slider .item3 .content .btn{
   width:50%;
  color: white;
  padding: 3% 5%;
  font-size: 1.6rem;
   background-color: #657008;
}
.home .home-slider .item3 .content .btn:hover{
    background-color: #fff;
    color:  #657008;
    }


    .home .home-slider .item4{
    position: relative;
    padding-top: 0.5rem;

}

.home .home-slider .item4 img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item4 .content{
     float: right;
    position: absolute;
    top:50%; left:5%;
    transform: translateY(-50%);
}

/*.home .home-slider .item .content h3{
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}*/

.home .home-slider .item4 .content h3{
    
    padding-top:1rem;
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 3rem;
    width:70%;
    text-transform: uppercase;
}
.home .home-slider .item4 .content p{
    
    color:#fff;
    font-size: 3rem;
    padding:2rem 0;
    width: 50rem;
}
.home .home-slider .item4 .content .btn{
    font-size: 2rem;
   width:50%;
  color: white;
  padding: 2% 5%;
  
   background-color: #657008;
}
.home .home-slider .item4 .content .btn:hover{
    background-color: #fff;
    color:  #657008;
    }
    
.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    outline: none;
}

.home .owl-carousel .owl-prev{
    left: 1.3rem;;
}

.home .owl-carousel .owl-next{
    right:1.3rem;;
}

.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color:#fff;
    font-size: 7rem;
}


/*section3*/



.header5 h2{
  padding-top: 2rem;
  font-family: "veradana";
  font-size: 3rem;
  color: #ffc000;
  text-align: center;

}
.carousel {
  width: 100%;
  margin: 50px auto;
  padding: 0 70px;
}
.carousel .item {
  min-height: 430px;
 text-align: center;
  overflow: hidden;
}
.carousel .item .img-box {
  height: 200px;
  width: 100%;
  position: relative;
}
.carousel .item img { 
 max-width: 100%;
max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;

}
.carousel .item h4 {
  font-size: 18px;
  margin: 10px 0;
}
.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
  color: #fff;
  background: #000;
  border-color: #000;
  box-shadow: none;
}
.carousel .item .btn i {
  font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
  text-align: center;
}
.thumb-wrapper h3{
  padding-top: 1rem;
  font-size: 1.4rem;
  font-family: "Raleway";
  color: #657008;
}
.thumb-wrapper h3::after{
  content: '';
  background: #657008;
  display: block;
  height: 1px;
  width: 100px;
  margin: 10px 10px 10px 50px;
  }
.carousel .thumb-content {
  padding: 16px;
  }
.carousel .carousel-control {
  height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
  font-size: 1.6rem;
  padding: 2px 0;
  color: black;
}

.carousel .item-price span {
  color: black;
  font-size: 110%;
}
.carousel .carousel-control.left i {
  margin-left: 0 !important;
  margin-right: 0;
}
.carousel .carousel-control.right i {
  margin-right:  0 !important;
}
.carousel .carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 5px;
  border-radius: 50%;
 /* border-color: transparent;*/
}


/*section4*/
.row{
  padding-left: 2rem;
}
.container-fluid {
 border: 1px; /*solid #ccc;*/
  background-color: #eee;
  border-radius: 2px;
  width: 95%;
  
  padding: 12px;
  margin: 5px 0;
}
#profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 150px;
  margin: 20px 0;
}
.container-fluid::after {
  content: "";
  clear: both;
  display: table;
  
}

.container-fluid img {
  float: left;
  margin-right: 20px;
  border-radius: 10%;
   background: blue;
   color: white;
}

.container-fluid span {
  font-size: 20px;


}

@media (max-width: 500px) {
  .container-fluid {
      text-align: center;
  }
  .container-fluid img {
      margin: auto;
      float: none;
      display: block;
  }
}
/*section5*/
.wrapper {
  
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/*.slider {
  width: 1200px;
  height: 100px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px 10px rgba(0,0,0,1.7);
  overflow:hidden;
  margin-left: 0;
  padding-left: 1px;

}*/
 .head h1{
  padding-top: 2rem;
  font-size: 3rem;
  font-family: "veradana" bold;
	text-align: center;
	color: blue;
}
.slider1 {
  height: 10px;
  display: flex;
  align-items: center;
}
.slide2 img {

  height: 60px;
  padding: 0px 10px 0 10px;
  

}

/*section6*/
.section-6 .containerarrary{
  background-image: url('../images/land.jpg');
  background-size: cover;
  height: 40rem;

}
.section-6 .heading-1{
  font-size: 2rem;
  margin-top: 10%;
  margin-left: 2%;
  margin-bottom: 4%;
  font-family: 'veradana';
  width: 100%;
  color: black !important;
  text-align: center;
}
.section-6 .para{
  width: 100%;
  font-family: 'veradana';
  color: white;
  margin-bottom: 7%;
  text-align: center;
}
  .form-div{
  font-size: 0.9rem;
	margin-left: 15rem;
	width: 50rem;
	height: 4rem;
}
.form-input{
  text-align: center;
    margin-top: 2rem;
	margin-left: 50rem;
	background-color:#657008;
  color: white;
	font-size: 1.6rem;
	width: 15rem;
	height: 3rem;
}

.section-6 .btn{
  margin-bottom: 15%;
  width:20%;
  margin-left: 40%;
  padding: 2% 5%;
  background-color: orange;
}

/*footer*/
.footer{
  padding-top:0;
  background: #152F4F;
  color:white;
  }
  .links
    ul {
      list-style-type: none;
    }
    li a{
      font-size: 1.6rem;
      color: white;
      transition: color .2s;
    }
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 

  .about-company h3{
    padding-top: 1rem;
   font-size: 1.9rem;
  }
  .social{
    font-size: 1.9rem;
    padding-left: 50px;
    color:#657008;
  }
  .links li a{
    font-size: 1.9rem;
  }
  .social h3{
    font-size: 1.9rem;
  }
 .rounded-social-buttons a{
  color: #657008;
 }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{

    border-top:1px solid rgba(255,255,255,.1);
  } 
}

























